body{
    height: 100vh;
    display: flex;
    background-color: blue ;
    background: linear-gradient(to bottom right, blue, purple ) no-repeat;
}


button{
    color: blue;
    background-color: white;
    border: solid 2px blue;
    border-radius: 5px;
    align-content: center;

}
.image{
    border: 3px  blue solid;
    border-radius: 50%;
}
hr{
    color: rgb(231, 9, 9);
}

.container{
    margin-top: auto;
    padding: 20px;
    border: 2px solid black ;
    margin: auto;
    width: 300px;
    height: 400px;
    text-align: center;
    align-items: center;
    border-radius: 20px ;
    box-shadow: 2px;
    background-color: white;
    
}

footer{
    padding:20px;
}